.section1{
    padding: 80px;
    background-image: url('./background/h_img.jpg');
    margin-left: 2vw;
    margin-right: 2vw;
    border: none;

}

#logobrand{
align-items: center;
align-content: center;
display: block;
text-align: center;

}

#studio h1{
color: white;
align-content: center;
text-align: center;
}

#studio h2{
  color: whitesmoke;
  text-align: center;  
}

#studio p {
 text-align: center;
 color: white;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

#mouse{
 display: block;
 align-content: center;
 text-align: center;
 margin-top: 50px;
}

#header{
    text-align: center;
    align-items: center;
    color: black;
}

#para p{
    text-align: center;
    align-content: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.Section2{
    padding: 50px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section3{
background-image: url('./background/s_image.jpg');
padding: 60px;
}

.section4::after{
    padding: 40px !important;
    content: "";
    clear: both;
    display: table;
}

#column{
float: left;
padding: 10px;
width: 32%;
}

#column h2{
    font-size: smaller;
}


#header1{
    align-content: center;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#para1{
    align-content: center;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header2{
align-content: center;
text-align: center;
color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: large;
}

#port1{
    display: flex;
    background-position: center;
}

#portfolio{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#port2{
    padding: 5px;
    background-position: center;
}

#cont h1{
align-content: center;
text-align: center;
color: white;
}

.section7{
 display: flex;
 align-items: center;
 justify-content: center;
 
}


.section8{
    padding: 10px;
}

.btn-outline-warning:hover{
    background-color: green !important;
}

#contacts{
    background-image: url('./background/c_image.jpg');
    background-position: center;
}

#delani{
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: medium;
}

#par {
    text-align: center;
    align-content: center;
    align-items: center;
}

.test{
    background-color: transparent;

    
}

#name,#email,#message{
    border: 2px solid white !important;
    background: transparent !important;
    color: white !important;
}

::-webkit-input-placeholder{
    color: white !important;
}

:-ms-input-placeholder{
    color: white !important;
}

::placeholder{
color: white !important;

}

#contact-fm{
    background-color: transparent;
}